/* atalho para comentar: setinha para cima + alt + A */

/* google fontes */


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*root= cores para a função noite*/
:root, :root[data-treme='dark'] {
    --primary-color: #f0f0f0; /*cor principal dos textos*/

    --primary-bg-color: #1d1e25; /*cor principal do fundo*/
    --secondary-by-color: #28292E; /* cor do fundo */

    --primary-border-color: #28292E; /* cor primaria para borda */
    --secondary-boder-color: #56575A; /* cor secundaria para borda */

    --title-color: #f0f0f0; /* cor de titulo */
    --link-hover:  #f0f0f0; /* cor de texto */
    --link-color: #8f8f8f; /* cor de link */
    --icon-color: #c7c8c9; 
}


/*light= cores para a função dia*/
:root[data-theme='light'] {
    --primary-color: #000; 
    --primary-bg-color: #f0f2f5;
    --secondary-by-color: #c7c8c9; /* cor do fundo */

    --primary-border-color: #c7c8c9; /* cor primaria para borda */
    --secondary-boder-color: #9a9a9c; /* cor secundaria para borda */

    --title-color: #0b0b0f; /* cor de titulo */
    --link-hover:  #a3a2a2; /* cor de texto */
    --link-color: #0b0b0f; /* cor de link */
    --icon-color: #56575a; 
}

/* reset css */
* {
    margin: 0;
    padding: 0; /* preenchimento */
    box-sizing: border-box; /* direcionamento das caixas  */
    vertical-align: baseline; /* alinhamento vertical */
    list-style: none; /* estilo de lista ou remover bolinhas */
    scrollbar-width: thin; /* afinar barra de rolagem */
    scrollbar-width: var(--secondary-boder-color) transparent; /* colocar cor na barra de rolagem  */
}

body {
    background: var(--primary-bg-color); /*cor de fundo*/
    color: var(--primary-color); /*cor geral dos textos*/
    font-family: 'playwhite' , Verdana, Geneva, Tahoma, sans-serif; 
}

a {
    text-decoration: none; /* tirar o link das palavras  */
    color: var(--link-color); /* mudar a cor das janelas  */
}

a:hover {
    color: var(--link-hover);
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap; /* coloca o conteudo em linha e permite a quebra de linha  */
    justify-content: space-between; /* os itens dentro do container flexivel serao distribuidos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.  */

    align-items: center; /* alinhar os itens, seja levados as informaçoes/fotos, em uma direção sendo a direita, esquerda ou meio.*/

    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2; /* sobreposição/profundidade  */
}

.header-logo .logo{
    width: 3.25rem;
    height: 3.25rem;
}

.header-logo .logo2{
    width: 7rem;
    height: 2rem;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

html[data-theme= 'light'] .logo {
    filter: invert(1);
}

html[data-theme= 'light'] .logo2 {
    filter: invert(1);
}

#toggletheme {
    font-size: 1.5rem; /* tamanho da fonte  */
    color: var(--icon-color);
    cursor: pointer; /* cód para transformar o mouse em maozinha  */
    transition: ease-in-out .4s; /* efeito de animação  */
}

.menu {
    display: flex; /* (deixar a div como barra de pesquisa o 'home') torna o elemento flexivel, tornando uma caixa viavel para todos os tamanhos  */

    align-items: center; /* alinhar e sentralizar a barra de pesquisa o 'home' 'projeto' etc */
    background: var(--primary-bg-color); 
    gap: 1rem; /* espaço entre os 'home' */
} /* TODOS ESSES CÓDIGOS A CIMA, AJUDA PARA A BARRA DE PEQUISA */

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-mobile {
    width: 100%;
    position: fixed; 
    /* BOTTOM, TOP, RIGHT, LEFT, só sera funcionado se tiver o position  */
    bottom: 0;
    justify-content: space-between; /* espaço para cada menu */
    border-top: 3px solid var(--primary-border-color);
}

.menu-mobile .menu-link {
    flex-direction: column; /* deixar os menu em colunas  */
    justify-content: center;
    padding: 0.5rem 1rem; /* tamanho sobre os menu  */ 
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-text

.menu-icon, .menu-text {
    color: var(--link-color);
    font-weight: 500;
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: 0.75rem;
    text-transform: capitalize; /* deixar o menu com o começo maiusculo, ex: entre 'home' ficaria 'Home' */
}

.header-nav {
    display: none;
}

.menu-pricipal {
    gap: 1rem;
}

.menu-social{
    gap: 1rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--icon-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out .3s;
}

.btn-primary{
    border: 1px solid var(--secondary-boder-color);
}

.btn:hover{
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span,
.btn i{
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn-primary span{
    color: var(--primary-color);
}

#home{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
/* proporção de tamanhos para video: 16/9 , 4/3 , 21/9. */

#home, .projetos, .sobre, .contato{
    padding: 7rem 5rem;
}



@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
    }
    .nav-mobile {
        display: none;
    }
    
    .header-nav {
        display: flex  ;
    }
}  